.section{
	display:flex;
	flex-flow:column wrap;
	height:300px;
	border:2px solid blue;
	justify-content: center;
	align-item:center;
	gap:40px;
}
.line{
	height:4px;
	background-color:red;
}
.one{
	padding:20px;
	border: 1px solid orange;
	border-radius: 50%;
}
.top{
	display:flex;
	flex-flow: row wrap;
	width:50%;
	align-item:center;
}
.line{
	flex-grow:1;
}